absl-py
astunparse
beautifulsoup4
cachetools
certifi
charset-normalizer
distlib
filelock
flatbuffers
gast
google
google-auth
google-auth-oauthlib
google-pasta
grpcio
grpcio-tools
h5py
idna
importlib-metadata
keras
Keras-Preprocessing
libclang
Markdown
numpy
oauthlib
opt-einsum
packaging
Pillow
platformdirs
protobuf
pyasn1
pyasn1-modules
pyparsing
requests
requests-oauthlib
rsa
six
soupsieve
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
typing-extensions
urllib3
virtualenv
Werkzeug
wrapt
zipp
